@model FirebaseASP.Models.AuthorANC
@{
    ViewBag.Title = "About";
}
<h1>@Model.Name</h1>
<h1>@Model.BirthDay</h1>
<h1>@Model.Address</h1>
<h1>@Model.Phone</h1>
<h1>@Model.University</h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
